<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="{{url_for('static', filename='output.css')}}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="bg-blue-900 border-gray-800 ">
        <div class="flex flex-wrap justify-between items-center mx-2 max-w-screen-2xl p-4">
            <div class="flex  space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-3xl font-bold whitespace-nowrap text-white">Контракты НПЦ-800</span>
            </div>
            <div class="flex space-x-5">
                <a href="#" class="text-sm  text-white  hover:underline">Login</a>
            </div>
        </div>
    </nav>
    <!-- <nav class="bg-blue-800 border-gray-800 ">
        <div class="flex px-4 py-3 mx-2 items-end">
            <ul class="flex flex-row font-semibold mt-5 space-x-5 text-sm">
                <li class="ml-10">
                    <label for="contracts" class="block pt-3 text-sm font-medium text-white">Выбор контракта: </label>
                </li>
                <li>
                    <select id="contracts"
                        class="bg-orange-500 border border-orange-800 text-white text-sm rounded-lg block w-full p-2.5">
                        <option selected>Контракт</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>
                </li>
                <li class="ml-10">
                    <button data-modal-target="createContract" data-modal-toggle="createContract"
                        class="block text-white bg-orange-500 hover:bg-orange-700 focus:ring-2 focus:outline-none focus:ring-orange-950 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                        type="button"> Добавить ГК
                    </button>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="grid grid-cols-3 gap-10">
        <div class="pt-5 pl-3">
            <h2 class="mb-2 text-lg font-semibold text-black">Госудрастенные контракты: </h2>
            <div id="accordion-collapse" data-accordion="collapse">
                <h2 id="accordion-collapse-heading-2" class="mb-3">
                    <button type="button"
                        class="flex items-center justify-center w-96 p-5 font-medium hover:bg-purple-800 hover:text-white text-black border-2 rounded-lg border-gray-900 gap-3"
                        data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                        aria-controls="accordion-collapse-body-2">
                        <span>Контракт 1</span>
                    </button>
                    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                        <div class="w-96 p-5 border rounded-lg border-b-0 border-black">
                            <h2 class="text-xs text-left font-medium text-black">Тип: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Внутренний номер заказа: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата подписания: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата сдачи: </h2>
                        </div>
                    </div>
                </h2>
                <h2 id="accordion-collapse-heading-3" class="mb-3">
                    <button type="button"
                        class="flex items-center justify-center w-96 p-5 font-medium hover:bg-purple-800 hover:text-white text-black border-2 rounded-lg border-gray-900 gap-3"
                        data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                        aria-controls="accordion-collapse-body-3">
                        <span>Контракт 2</span>
                    </button>
                    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                        <div class="w-96 p-5 border rounded-lg border-b-0 border-black">
                            <h2 class="text-xs text-left font-medium text-black">Тип: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Внутренний номер заказа: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата подписания: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата сдачи: </h2>
                        </div>
                    </div>
                </h2>
                <h2 id="accordion-collapse-heading-4" class="mb-3">
                    <button type="button"
                        class="flex items-center justify-center w-96 p-5 font-medium hover:bg-purple-800 hover:text-white text-black border-2 rounded-lg border-gray-900 gap-3"
                        data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                        aria-controls="accordion-collapse-body-4">
                        <span>Контракт 3</span>
                    </button>
                    <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
                        <div class="w-96 p-5 border rounded-lg border-b-0 border-black">
                            <h2 class="text-xs text-left font-medium text-black">Тип: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Внутренний номер заказа: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата подписания: </h2>
                            <h2 class="text-xs text-left font-medium text-black">Дата сдачи: </h2>
                        </div>
                    </div>
                </h2>
                <h2 class="mb-3">
                    <button type="button" data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="flex items-center justify-center w-96 p-5 font-medium text-white bg-green-500 hover:bg-green-800 border-gray-900 border-2 rounded-lg gap-3"
                        aria-expanded="false">
                        <span>Добавить контракт</span>
                    </button>
                </h2>
                <div id="default-modal" tabindex="-1" aria-hidden="true"
                    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                    <div class="relative p-4 w-full max-w-2xl max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <div
                                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                    Добавление контракта
                                </h3>
                                <button type="button"
                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                    data-modal-hide="default-modal">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                    </svg>
                                    <span class="sr-only">Close modal</span>
                                </button>
                            </div>
                            <div class="p-4 md:p-5 space-y-4">
                                <form class="space-y-6" action="#">
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class="grid grid-rows-1 py-2 text-center">
                                            <h2 class="text-xm text-left font-medium text-gray-900">Номер: </h2>
                                        </div>
                                        <div class="grid grid-rows-1">
                                            <input type="text" id="contractNumber"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class="grid grid-rows-1 py-2 text-center">
                                            <h2 class="text-xm text-left font-medium text-gray-900">Внутренний номер:
                                            </h2>
                                        </div>
                                        <div class="grid grid-rows-1">
                                            <input type="text" id="contractInnerNumber"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class="grid grid-rows-1 py-2 text-center">
                                            <h2 class="text-xm text-left font-medium text-gray-900">Город: </h2>
                                        </div>
                                        <div class="grid grid-rows-1">
                                            <input type="text" id="contractCity"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class="grid grid-rows-1 py-2 text-center">
                                            <h2 class="text-xm text-left font-medium text-gray-900">Дата подписания:
                                            </h2>
                                        </div>
                                        <div class="grid grid-rows-1">
                                            <input type="text" id="contractStartDate"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class="grid grid-rows-1 py-2 text-center">
                                            <h2 class="text-xm text-left font-medium text-gray-900">Дата сдачи: </h2>
                                        </div>
                                        <div class="grid grid-rows-1">
                                            <input type="text" id="contractEndDate"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div
                                class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button data-modal-hide="default-modal" type="button"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 pl-3">
            <h2 class="mb-2 text-lg font-semibold text-black">Список изделий: </h2>
            <div id="mainTree">
            </div>
        </div>
        <div class="pt-5 pl-3">
            <h2 class="mb-2 text-lg font-semibold text-black">Деталь: </h2>
            <div id="currentProduct"
                class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
                <form class="space-y-6" action="#">
                    <h5 id="productName" class="text-xl font-medium text-gray-900 dark:text-white">Изделие: </h5>
                    <h5 id="productShifr" class="text-xl font-medium text-gray-900 dark:text-white">Шифр: </h5>
                    <hr class="mx-auto h-px bg-black border-blue-700 border-2">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Тип: </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <select id="editType"
                                class="bg-green-600 border border-green-900 text-white rounded-md text-sm block w-full p-2.5">
                                <option selected>Yarik 1</option>
                                <option value="US">Yarik 2</option>
                                <option value="CA">Yarik 3</option>
                                <option value="FR">Yarik 4</option>
                                <option value="DE">Yarik 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Состояние: </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <select id="editType"
                                class="bg-purple-500 border border-purple-800 text-white rounded-md text-sm block w-full p-2.5">
                                <option selected>Anton 1</option>
                                <option value="US">Anton 2</option>
                                <option value="CA">Anton 3</option>
                                <option value="FR">Anton 4</option>
                                <option value="DE">Anton 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900">Зав. номер: </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <input type="text" id="productNumber"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900">Кол-во: </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <input type="text" id="productCount"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900">Покупное изделие</h2>
                        </div>
                        <div class="grid grid-rows-1 py-2 text-center">
                            <input id="" type="checkbox" value="" name="bordered-checkbox"
                                class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Поставщик: </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <input type="text" id="productProvider"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Подписание:
                            </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <input type="date" id="startDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Исполнение:
                            </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <input type="date" id="endDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="grid grid-rows-1 py-2 text-center">
                            <h2 class="text-xm text-left font-medium text-gray-900 dark:text-white">Примечание:
                            </h2>
                        </div>
                        <div class="grid grid-rows-1">
                            <textarea id="message" rows="4"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script>
        function changeProduct(id, name) {
            console.log(id)
            $("#currentProduct").val("currentProduct" + id)
            $("#productName").text("Изделие: " + name)


        }
        function addContract(id, name) {
            // $('#productName').text(name)
            // $('#productName').val(id);
            // console.log($('#productName').val())
            const $targetEl = document.getElementById('createContract');

            // options with default values
            const options = {
                placement: 'bottom-right',
                backdrop: 'dynamic',
                backdropClasses:
                    'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
                closable: true,
                onHide: () => {
                    console.log('modal is hidden');
                },
                onShow: () => {
                    console.log('modal is shown');
                },
                onToggle: () => {
                    console.log('modal has been toggled');
                },
            };
            // instance options object
            const instanceOptions = {
                id: 'createContract',
                override: true
            };
            const modal = new Modal($targetEl, options, instanceOptions);
            modal.show();
        }
        function createTree(element, data) {
            const treeElement = document.createElement('ul');
            treeElement.className = 'ps-5 mt-2 space-y-1 list-none list-inside';
            data.forEach((item) => {
                console.log(item)
                const listItem = document.createElement('li')
                listItem.innerHTML = `<button data-modal-target="updates" data-modal-toggle="updates"` +
                    `class="block text-white bg-green-300 hover:bg-green-800 ring-2` +
                    `font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button"` +
                    `onclick="changeProduct(` + item.id + `, '` + item.name + `')">` + item.name + `</button>`
                if (item.children) {
                    createTree(listItem, item.children)
                }
                treeElement.append(listItem)
            });
            element.append(treeElement)
        }
        function startCreation() {
            fetch('/products')
                .then(response => response.json())
                .then(data => {
                    data = Array(data)
                    const rootElement = document.getElementById('mainTree')
                    createTree(rootElement, data)
                });
        }
        window.onload = startCreation;

    </script>
</body>

</html>