<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <a class="navbar-brand" href="#">ГосНИИП</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Детали</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контракты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Календарь</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="conteiner" onload="startCreation()">
        <div id="mainTree">
        </div>
    </div>
    <script>
        function createTree(element, data) {
            const treeElement = document.createElement('ul');
            treeElement.className = 'tree';
            data.forEach((item) => {
                console.log(item)
                const listItem = document.createElement('li');
                listItem.textContent = item.name;

                if (item.children) {
                    // listItem.append(createTree(listItem, item.children));
                    createTree(listItem, item.children)
                }
                treeElement.append(listItem)
            });
            element.append(treeElement)
        }
        function startCreation() {
            fetch('/products')
                .then(response => response.json())
                .then(data => {
                    data = Array(data)
                    const rootElement = document.getElementById('mainTree');
                    createTree(rootElement, data);
                });
        }
        window.onload = startCreation;
    </script>
</body>

</html>