<div class="flex gap-2 items-center ">
    <a data-te-collapse-init href="#collapseDoc` + tmp + `" role="button"
        aria-expanded="false" aria-controls="collapseDoc` + tmp + `"
        class="flex text-xl p-0.5 text-black italic items-center hover:bg-teal-400 duration-300 rounded-lg" <div
        d-num="0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="h-4 w-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg></div>
Документы</a></div>